@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoMono'; /* Встановіть назву вашого шрифту */
    src: url('/fonts/RobotoMono/RobotoMono-Light.ttf') format('ttf'); /* Встановіть шлях до вашого шрифту */
    font-weight: normal;
    font-style: normal;
}


body, html{
    min-height: 100% !important;
    height: 100%;
}

div#app{
    min-height: inherit;
}

div#log-in-div{
    background-image: url("/img/login-bg.jpg");
    background-size: cover;
    background-position: bottom;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px) rotate(180deg);
    background-color: black;
    background-image: url("/icons/yin-yang/yin-yang-white.svg");
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    background-color: black;
}

.slider.round:before {
    border-radius: 50%;
    background-color: white;
    background-image: url("/icons/yin-yang/yin-yang-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
}


::-webkit-scrollbar-track
{
    /*border: 5px solid white;
    background-color: #b2bec3;*/
    display: none;
}

::-webkit-scrollbar
{
    width: 15px;
    background-color: #dfe6e9;
    display: none;
}

::-webkit-scrollbar-thumb
{
    background-color: #000;
    border-radius: 10px;
    display: none;
}

.product-card-img-aspect-ratio{
    aspect-ratio: 3/2;
}

.grid-cols-fill-326 {
    grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
}

/*Це для стилізації нотіфікейшинів*/

:root {
    --toastify-color-light: #000;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 400px;
    --toastify-toast-background: #000;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

/*Used only for colored theme*/
--toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;

/*// Used when no type is provided*/
/*// toast("**hello**")*/
--toastify-color-progress-light: linear-gradient(
to right,
#4cd964,
#5ac8fa,
#007aff,
#34aadc,
#5856d6,
#ff2d55
);
/*// Used when no type is provided*/
--toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}
